snippet comment
	# ${1:comment}
	#
	#
	#
	#
	#
	#

snippet comlist
	# * ${1:item}

snippet comsublist
	#	 * ${1:item}

snippet section
	# ---------------------------------------------------------- #
	# ${1:title} ----
	# ---------------------------------------------------------- #
	#
snippet subsection
	# ----------------------------------------------- #
	# ${1:title} ----
	# ----------------------------------------------- #
	#
snippet nsubsection
	# ----------------------------------------------- #
	# .. ${1:title} ----
	# ----------------------------------------------- #
	#
snippet nsubsubsection
	# ------------------------------------- #
	# .... ${1:title} ----
	# ------------------------------------- #

